.button-primary {
  background-color: transparent;
  width: 180px;
  height: 40px;
  border: var(--font-color) solid 4px;
  color: var(--font-color);
  border-radius: 8px;
  font-size: var(--font-size-l);
  transition: 0.5s linear;
  &:hover {
    color: var(---color-septenary);
    background-color: var(--font-color);
    width: 215px;
    height: 50px;
    font-size: var(--font-size-xl);
  }
}
